.container, .ui, .statrx {
    width: 400px;
    margin: 0 auto;
    color: #fbfbfb;
}

.padded {
    padding: 10px;
}
.question {
background-color: #112254; 
    min-height: 40px;
}
.random {
background-color: #ff33cc; 
}
.remove {
background-color: #ff3366; 
}
.statrx {
//    border: 20px;
    background-color: #112254; 
    padding: 10px 0 10px ;
    text-align: right;//center;
}
.answer-container {
    background-color: #2243a8;
    min-height: 180px;
}

.hidden {
    //    visibility: hidden;
display:none;
}

.flex-container {
    display:flex;
}

div.ui > div > div  {
    flex:1;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.previous{
    background-color: #112254;
}

.next{
    background-color: #3366ff;
}

.finished { 
    background-color: #dc7a6b;
}

.auto {
    /*    background-color: #ffcc33;*/
    background-color: #33ff66;
}

.auto.stop {
        background-color: #ffcc33;
}

.largeScreen .container, .largeScreen .ui, .largeScreen .statrx {
    width: 80%;
    margin: 0 auto;
    color: #fbfbfb;
    font-size: 300%;
}


/*   mneu items  */
 * { padding: 0; margin: 0; }
body { font-family: sans-serif; }
a { text-decoration: none; color: #00A5CC; }
li { list-style-type: none; }

header { 
	width: 100%; 
	height: 50px; 
	margin: auto;
	border-bottom: 1px solid #EEE;
}

nav { width: 100%; text-align: center; }
nav a { 
	display: block; 
	padding: 15px 0;
	border-bottom: 1px solid #C3AA6E;
	color: #F0EADC;
}
nav a:hover { background: #E5DAC0; color: #FFF; }
nav li:last-child a { border-bottom: none; }

/*-----------------------------------------*/

.menu {
	width: 240px;
	height: 100%;
	position: absolute;
	background: #3366ff;
	left: -240px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
.menu-icon {
	padding: 10px 20px;
	background: #ff33cc;
	color: #3366ff;
	cursor: pointer;
	//float: right;
	margin: 26px 6px 10px 10px;
	border-radius: 5px;
}
#menuToggle { display: none;  }

#menuToggle:checked ~ .menu { position: absolute; left: 0; }
